[submodule "retail-manager-stores"]
	path = Djati-stores
	url = https://github.com/mohcly/retail-manager-stores.git
[submodule "retail-manager-restaurant"]
	path = Djati-restaurants
	url = https://github.com/mohcly/retail-manager-restaurant.git
